<h1>All future bookings</h1>
<%= link_to "< Back to dashboard", admin_dashboard_path, class: "btn btn-secondary ml-2" %>
<div class = "container">
  <div class = "row">
    <% if @future_bookings.length > 0 %>
      <% @future_bookings.each do |booking| %>
        <div class="col-12 col-sm-6 col-md-4">
          <div class="booyah-box">
            <div class = "row">
              <div class = "col-12">
                <h3 class="mt-1 ml-2"><%= booking.start_time.strftime("%a, %e %b %Y") %></h3><div class = "clear"></div>
              </div>
              <div class = "col-2 text-center">
                <i class="fa fa-clock-o ml-2" aria-hidden="true"></i>
              </div>
              <div class = "col-10">
                <%= "#{booking.start_time.strftime("%H:%M")} - #{booking.end_time.strftime("%H:%M")}" %>
              </div>
              <div class = "col-2 text-center">
                <i class="fa fa-map-marker ml-2" aria-hidden="true"></i>
              </div>
              <div class = "col-10">
                <%= booking.room.name %>
              </div>
              <div class = "col-2 text-center">
                <i class="fa fa-users ml-2" aria-hidden="true"></i>
              </div>
              <div class = "col-10">
                <%= booking.user_list %>
              </div>
                <%= link_to 'View booking', booking_path(booking), class: "btn btn-pink col-10 offset-1 my-2" %>
            </div>
          </div>
          <br />
        </div>
      <% end %>
    <% else %>
      <div class = "col-12">
        <h5>No future bookings made yet</h5>
      </div>
    <% end %>
  </div>
</div>