<% if current_user.present? %>
  <div class = "row background-purple">
    <div class = "col-12 text-center">
      <h4 class = "my-4"><%= "Hi, #{current_user.firstname}, you are currently logged in to #{current_user.account.subdomain}." %></h4>
      <%= link_to "Go there", home_url(subdomain: current_user.account.subdomain), class: "btn btn-primary my-3" %>
    </div>
  </div>
<% end %>


<!-- Business / Uni Selector -->
<div class = "row">
  <div class = "col-6 mx-0 text-center secondary-nav-btn btn btn-primary business-section-select "><span class = "content-align-middle">For businesses</span></div>
  <div class = "col-6 mx-0 text-center secondary-nav-btn btn btn-secondary university-section-select">For universities</div>
</div>

<div class = "business-section">
  <!-- For businesses -->
  <!-- Fixed header -->
  <div class = "music-background">
    <div class = "container py-5">
      <div class = "row my-5">
        <div class = "col-md-8 col-lg-6 background-pink py-4 mx-3">
          <h1 class = "text-white display-4">A <span class = "underline-mint">music practice room</span> in your office</h1>
          <h4 class = "text-white mt-4">A <span class = "underline-mint">community</span> built around it</h4>
        </div>
      </div>
    </div>
  </div>

  <div class = "background-pink">
    <div class = "container">
      <div class = "row py-5">
        <div class = "col-10 offset-1 col-md-6 offset-md-3 background-yellow text-center">
          <h1 class = "display-4 my-2">We want to find the offices with the best potential for a musical community.</h1>
          <%= link_to "Is your office one of them?", yes_path, class: "btn btn-primary my-3" %>
        </div>
      </div>
    </div>
  </div>

  <!-- Good for business carousel -->
  <div class = "">
    <h1 class = "underline-mint mt-3 ml-2">Good for business</h1>
    <div id="whyCarousel" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#whyCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#whyCarousel" data-slide-to="1"></li>
        <li data-target="#whyCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <div class="carousel-item py-3 py-md-5 active background-mint">
          <div class = "col-12">
            <div class = "container">
              <div class = "row">
                <div class = "col-md-4 offset-md-1">
                  <%= image_tag("retention.svg", class: "img-fluid rounded", height: 'auto', max_width: '100%') %>
                </div>
                <div class = "col-md-4 offset-md-1 background-pink mt-2 mt-md-0 text-center description-text">
                  <h1 class = "text-white underline-yellow">Retention</h1>
                  <p class = "text-white description-text">Places to play music are <strong>scarce</strong> in cities. If you provide one for your employees and build a community around it, your employees will have another incentive to stay committed to you.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item py-3 py-md-5 background-yellow">
          <div class = "col-12">
            <div class = "container">
              <div class = "row">
                <div class = "col-md-4 offset-md-1">
                  <%= image_tag("recruitment.svg", class: "img-fluid rounded", height: 'auto', max_width: '100%') %>
                </div>
                <div class = "col-md-4 offset-md-1 background-purple mt-2 mt-md-0 text-center description-text">
                  <h1 class = "text-white underline-mint">Recruitment</h1>
                  <p class = "text-white">Be a creative office, attract creative talent. Plus, with our university scheme, you can attract the '000s of students who use our software by telling them about your exciting musical community.</p>
                  <%= link_to unis_path, target: :_blank do %>
                    <div class = "btn btn-primary my-2">Our university scheme</div>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item py-3 py-md-5 background-pink">
          <div class = "col-12">
            <div class = "container">
              <div class = "row">
                <div class = "col-md-4 offset-md-1">
                  <%= image_tag("productivity.svg", class: "img-fluid rounded", height: 'auto', max_width: '100%') %>
                </div>
                <div class = "col-md-4 offset-md-1 background-mint mt-2 mt-md-0 text-center description-text">
                  <h1 class = "text-white underline-yellow">Productivity</h1>
                  <p class = "text-white">Playing music does brilliant things for the brain. It's the mental equivalent of a full-body workout. Playing regularly makes employees more creative and more adept at problem-solving.</p>
                  <%= link_to 'https://www.youtube.com/watch?v=R0JKCYZ8hng&feature=youtu.be', target: :_blank do %>
                    <div class = "btn btn-yellow my-2">Watch a 4-minute TED talk</div>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#whyCarousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#whyCarousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>

  <!-- Easy set up carousel -->
  <div class = "">
    <h1 class = "underline-mint mt-3 ml-2">Easy to get started</h1>
    <div id="whatCarousel" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#whatCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#whatCarousel" data-slide-to="1"></li>
        <li data-target="#whatCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <div class="carousel-item py-3 py-md-5 active background-yellow">
          <div class = "col-12">
            <div class = "container">
              <div class = "row">
                <div class = "col-md-4 offset-md-1">
                  <%= image_tag("kit-out.svg", class: "img-fluid rounded", height: 'auto', max_width: '100%') %>
                </div>
                <div class = "col-md-4 offset-md-1 background-purple mt-2 mt-md-0 text-center description-text">
                  <h1 class = "text-white underline-pink">Kit-out</h1>
                  <p class = "text-white">We set-up an <strong>amazing music space</strong> in your office building, providing everything from piano and drums to soundproofing and stands.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item py-3 py-md-5 background-mint">
          <div class = "col-12">
            <div class = "container">
              <div class = "row">
                <div class = "col-md-4 offset-md-1">
                  <%= image_tag("software.svg", class: "img-fluid rounded", height: 'auto', max_width: '100%') %>
                </div>
                <div class = "col-md-4 offset-md-1 background-pink mt-2 mt-md-0 text-center description-text">
                  <h1 class = "text-white underline-yellow">Software</h1>
                  <p class = "text-white">Our bespoke software makes it easy to <strong>find fellow musicians</strong> in the company and to <strong>book rooms</strong> for a practice session with them.</p>
                  <%= link_to new_user_registration_path, target: :_blank do %>
                    <div class = "btn btn-yellow my-2">Trial our software</div>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item py-3 py-md-5 background-purple">
          <div class = "col-12">
            <div class = "container">
              <div class = "row">
                <div class = "col-md-4 offset-md-1">
                  <%= image_tag("service.svg", class: "img-fluid rounded", height: 'auto', max_width: '100%') %>
                </div>
                <div class = "col-md-4 offset-md-1 background-yellow mt-2 mt-md-0 text-center description-text">
                  <h1 class = "text-white underline-pink">Service</h1>
                  <p class = "text-white">We run <strong>social events</strong> to keep the community running, and provide <strong>technical assistance</strong> to keep the room running.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#whatCarousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#whatCarousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
</div> <!-- End of business section -->

<!-- University section -->
<div class = "university-section show-hide">
  <div class = "uni-background">
    <div class = "container py-5">
      <div class = "row my-5">
        <div class = "col-md-8 col-lg-6 background-pink py-4 mx-3">
          <h1 class = "text-white">Fantastic music room booking software</h1>
          <h4 class = "text-white">For <span class = "badge badge-info">FREE</span>, for ever</h4>
        </div>
      </div>
    </div>
  </div>
  <div class = "">
    <h1 class = "underline-mint mt-3 ml-2">Our software</h1>
    <div id="UniCarousel" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#UniCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#UniCarousel" data-slide-to="1"></li>
        <li data-target="#UniCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <div class="carousel-item py-3 py-md-5 active background-yellow">
          <div class = "col-12">
            <div class = "container">
              <div class = "row">
                <div class = "col-md-4 offset-md-1">
                  <%= image_tag("target.svg", class: "img-fluid rounded", height: 'auto', max_width: '100%') %>
                </div>
                <div class = "col-md-4 offset-md-1 background-purple mt-2 mt-md-0 text-center description-text">
                  <h1 class = "text-white underline-pink">Elegant booking technology</h1>
                  <p class = "text-white">Our software makes room booking sleek and simple. Book by yourself or as a group. Includes useful features like email reminders and 'add to calender'</p>
                  <%= link_to new_user_registration_path, target: :_blank do %>
                    <div class = "btn btn-primary my-2">Trial our software</div>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item py-3 py-md-5 background-mint">
          <div class = "col-12">
            <div class = "container">
              <div class = "row">
                <div class = "col-md-4 offset-md-1">
                  <%= image_tag("software.svg", class: "img-fluid rounded", height: 'auto', max_width: '100%') %>
                </div>
                <div class = "col-md-4 offset-md-1 background-pink mt-2 mt-md-0 text-center description-text">
                  <h1 class = "text-white underline-yellow">Community focused</h1>
                  <p class = "text-white">Create a brief musical profile on sign up. Discover other musicians at your university. Form more bands. Build a better community.</p>
                  <%= link_to new_user_registration_path, target: :_blank do %>
                    <div class = "btn btn-yellow my-2">Trial our software</div>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item py-3 py-md-5 background-purple">
          <div class = "col-12">
            <div class = "container">
              <div class = "row">
                <div class = "col-md-4 offset-md-1">
                  <%= image_tag("rocket.svg", class: "img-fluid rounded", height: 'auto', max_width: '100%') %>
                </div>
                <div class = "col-md-4 offset-md-1 background-yellow mt-2 mt-md-0 text-center description-text">
                  <h1 class = "text-white underline-pink">Always improving</h1>
                  <p class = "text-white">We want to be a brilliant musical hub, which forms the heart of your university community. We committed to continual improvement, with your input.</p>
                  <%= link_to new_user_registration_path, target: :_blank do %>
                    <div class = "btn btn-pink my-2">Trial our software</div>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#UniCarousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#UniCarousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
</div> <!-- End of uni section -->

<!-- Generic section -->
<div class = "">
  <div class = "container mb-3">
    <div class = "row">
      <div class = "col-10 offset-1 col-md-6 offset-md-3 text-center">
        <h1 class = "underline-mint mt-3 ml-2">The mission</h1>
        <h3 class = ""><span class = "text-mint">The problem:</span> People stop playing music when they leave education and start working.</h3>
        <h3 class = "mt-4"><span class = "text-pink">The solution:</span> Build stronger musical communities in universities and workplaces.</h3>
      </div>
    </div>
  </div>

  <div class = "background-charcoal pt-3 text-center">
    <div class = "container">
      <h1 class = "text-white underline-yellow">Get in touch</h1>
      <h6 class = "text-white">Drop us an email to arrange a 15 minute discussion</h6>
      <p class = "text-muted">We've even pre-drafted one for you</p>
      <%= mail_to "hello@seedmusic.co.uk", "Get in touch", subject: "Seed Music - introductory discussion", class: "btn btn-pink my-2" %>
    </div>
  </div>
</div>

<script>
// var ctx = document.getElementById('musicParticipationChart').getContext('2d');
// var chart = new Chart(ctx, {
//     // The type of chart we want to create
//     type: 'line',

//     // The data for our dataset
//     data: {
//         labels: ["16-19", "20-24", "25-29", "30-44", "45-59", "60-69", "70 & over"],
//         datasets: [{
//             label: "Actual (ONS)",
//             backgroundColor: 'rgba(75,194,162, 0.4)',
//             borderColor: 'rgb(75,194,162)',
//             data: [21, 15, 12, 12, 10, 7, 7],
//         },
//         {
//             label: "Seed Music aim",
//             backgroundColor: 'rgba(237,21,102,0.1)',
//             borderColor: 'rgb(237,21,102)',
//             data: [21, 21, 21, 21, 21, 21, 21],  
//             }]
//     },

//     // Configuration options go here
//     options: {
//       legend: {
//         display: true
//       },
//       scales: {
//         yAxes: [{
//             gridLines: {
//               display: false
//             },
//             ticks: {
//                 beginAtZero: true,
//                 display: true
//             }
//         }],
//         xAxes: [{
//           gridLines: {
//               display: false
//             },
//           ticks: {
//             display: true
//           }
//         }],
//       }
//     }
// });
</script>
<script>
$(function() {
  $('.carousel').carousel({
    interval: 15000
  });

  $(".business-section-select").click(function () {
    if($(this).hasClass("btn-secondary")){
      $(".btn-primary").removeClass("btn-primary").addClass("btn-secondary");
      $(this).removeClass("btn-secondary").addClass("btn-primary");
    }
    $(".business-section").show();
    $(".university-section").hide();
  });

  $(".university-section-select").click(function () {
    if($(this).hasClass("btn-secondary")){
      $(".btn-primary").removeClass("btn-primary").addClass("btn-secondary");
      $(this).removeClass("btn-secondary").addClass("btn-primary");
    }
    $(".university-section").show();
    $(".business-section").hide();
  });

});
</script>