<div class = "container my-3">
  <h1>Room comments</h1>
  <%= link_to "< Back to dashboard", admin_dashboard_path, class: "btn btn-secondary my-1" %>
  <div class = "row">
    <% @rooms.each do |room| %>
      <div class = "col-12 col-md-6 my-3">
        <div class = "top-half-booyah-box pl-1">
          <h5 class = mt-1><%= link_to room.name, room_path(room) %></h5>
        </div>
        <div class = "bottom-half-booyah-box pl-1">
          <% if room.room_comments.present? %>
            <% room.room_comments.each do |comment| %>
              <blockquote class = "blockquote text-mint pt-1 mb-0"><strong><%= comment.message %></strong></blockquote>
              <footer class = "blockquote-footer"><%= comment.user.email %>, <%= comment.created_at.strftime("%A, %b %d") %></p>
            <% end %>
          <% else %>
            <p>No comments yet. Everyone must be loving it!</p>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
