<div class = "col-10 offset-1 col-md-6 col-lg-4 offset-md-3 offset-lg-4 pt-3 mb-5">
  <h1 class = "text-mint">Edit your profile</h1>
  <div class = "booyah-box px-1 py-1">
    <%= simple_form_for(resource, as: resource_name, url: user_registration_path) do |f| %>
      <div class = "first-section">
        <div class="form-inputs">
          <h2>Your details</h2>
          <%= f.error_notification %>
            <%= f.input :firstname, required: true, autofocus: true %>
            <%= f.input :surname, required: true, autofocus: true %>
            <%= f.input :email, required: true, autofocus: true, hint: "Use your work one" %>
            <%= f.input :avatar %>
        </div>
      </div> <!-- first section -->
      <div class = "btn btn-primary continue my-2">Continue</div>

      <div class = "second-section">
        <%= render "user_instrument_form_fields", form: f, include_remove: true %>
        <div class = "clear"></div>
        <div class="form-actions">
          <%= f.submit "Update my profile", class: "btn btn-primary col-12" %>
        </div>
      </div> <!-- second section -->
    <% end %>
  </div>
</div>
<br />
<br />

<div class = "booyah-box col-10 offset-1 col-md-6 col-lg-4 offset-md-3 offset-lg-4 pt-3 mb-5">
  <h3>Cancel my account</h3>

  <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-danger" %></p>
</div>

<div class = "booyah-box col-10 offset-1 col-md-6 col-lg-4 offset-md-3 offset-lg-4 pt-3 mb-5">
  <h3>Update security</h3>

  <%= link_to "Edit password", edit_user_password_path(resource_name), class: "btn btn-warning mb-2" %>
</div>

<script>
  $.fn.extend({
    toggleText: function(a, b){
        return this.text(this.text() == b ? a : b);
    }
  });

  $(function() {
  //   $('.multiselect').multiselect({
  //     enableFiltering: true,
  //     enableCaseInsensitiveFiltering: true
  //   });
    // initial starting index depends on number of fields on the page
    var instrumentIndex = $('.instrument_field').length - 1;

    $(".add_instrument_field").click(function(evt) {
      evt.preventDefault();
      instrumentIndex++;

      // clone the labels and select fields
      var newFields = $('.instrument_field').first().clone().appendTo( ".all_instrument_fields" );
      // change the select field names and ids
      newFields.find("select").each(function(index) {
        newId   = $(this).attr("id").replace(/0/g, instrumentIndex);
        newName = $(this).attr("name").replace(/0/g, instrumentIndex);
        $(this).attr("id", newId);
        $(this).attr("name", newName);
      });

      //Add click event to new remove fields button
      $('.remove-field').click(removefields);

      // change the label fors
      newFields.find("label").each(function(index) {
        newFor = $(this).attr("for").replace(/0/g, instrumentIndex);
        $(this).attr("for", newFor);
      });

      return false;
    });

    $('.remove-field').click(removefields);

    function removefields(evt) {
      evt.preventDefault();
      $(this).parent('div').remove();
      instrumentIndex--;
    }

    $(".continue").click(function(e){
      $(this).toggleText("Continue", "Back");
      $(".first-section").slideToggle();
      $(".second-section").slideToggle();
    });

    $("#new_user").validate({
      rules: {
        "user[firstname]": {required: true, minlength: 2},
        "user[surname]": {required: true, minlength: 2},
        "user[email]": {required: true, email: true, remote: "/users/validation/check_email" },
        "user[password]": {required: true, minlength: 6},
        "user[password_confirmation]": {required: true, equalTo: "#user_password"}
      }
    });
  });
</script>

