<h1 class = "ml-3">Sign up</h1>

<div class = "booyah-box col-10 offset-1 pt-3">
  <%= simple_form_for(resource, as: resource_name, url: user_registration_path) do |f| %>
    <div class="form-inputs col-md-6">
    <h2>Your details</h2>
    <%= f.error_notification %>
      <%= f.input :firstname, required: true, autofocus: true %>
      <%= f.input :surname, required: true, autofocus: true %>
      <%= f.input :email, required: true, autofocus: true, hint: "Use your work one" %>
      <%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
      <%= f.input :password_confirmation, required: true %>
    </div>

    <div class="form-inputs col-md-6">
      <h2>Your music</h2>
      <%= f.simple_fields_for :user_instruments do |instrument| %>
        <p>
          <%= instrument.input :instrument_id, collection: Instrument.all, label_method: :name, value_method: :id, include_blank: false %>
          <%= instrument.input :genre_id, collection: Genre.all, label_method: :name, value_method: :id, include_blank: false %>
        </p>
      <% end %>
    </div>

    <div class = "clear"></div>
    <div class="form-actions col-12">
      <%= f.button :submit, "Sign up", class: "btn btn-primary col-12" %>
    </div>
  <% end %>

<%= render "devise/shared/links" %>
<br />
</div>
