<h1 class = "ml-3">Sign up</h1>

<div class = "booyah-box col-10 offset-1 col-md-6 col-lg-4 offset-md-3 offset-lg-4 pt-3 mb-5">
  <div class = "first-section">
    <%= simple_form_for(resource, as: resource_name, url: user_registration_path) do |f| %>
      <div class="form-inputs">
        <h2>Your details</h2>
        <%= f.error_notification %>
          <%= f.input :firstname, required: true, autofocus: true %>
          <%= f.input :surname, required: true, autofocus: true %>
          <%= f.input :email, required: true, autofocus: true, hint: "Use your work one" %>
          <%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
          <%= f.input :password_confirmation, required: true %>
          <%= f.input :avatar %>
      </div>
    </div> <!-- first section -->
    <div class = "btn btn-primary continue">Continue</div>

    <div class = "second-section">
      <div class="form-inputs">
        <h2>Your music</h2>
        <%= f.simple_fields_for :user_instruments do |instrument| %>
          <p>
            <%= instrument.input :instrument_id, collection: Instrument.all, label_method: :name, value_method: :id, include_blank: false %>
            <%= instrument.input :genre_id, collection: Genre.all, label_method: :name, value_method: :id, include_blank: false %>
          </p>
        <% end %>
        <%= f.input :description, autofocus: true, hint: "Say a few words about what you like to play and, if you wish to, an indicator of your level" %>
      </div>

      <div class = "clear"></div>
      <div class="form-actions">
        <%= f.submit "Sign up", class: "btn btn-primary col-12" %>
      </div>
    </div> <!-- second section -->
  <% end %>
  <%= render "devise/shared/links" %>
  <br />
</div>
<br />
<br />


<script>
  $.fn.extend({
    toggleText: function(a, b){
        return this.text(this.text() == b ? a : b);
    }
  });
  $(function() {
    $(".continue").click(function(e){
      $(this).toggleText("Continue", "Back");
      $(".first-section").slideToggle();
      $(".second-section").slideToggle();
    });

    $("#new_user").validate({
      rules: {
        "user[firstname]": {required: true, minlength: 2},
        "user[surname]": {required: true, minlength: 2},
        "user[email]": {required: true, email: true},
        "user[password]": {required: true, minlength: 6},
        "user[password_confirmation]": {required: true, equalTo: "#user_password"}
      }
    });
  });
</script>
