<h1 class = "ml-3">Add a facility</h1>
<div class = "booyah-box col-10 offset-1 pt-3">

<div class = "row">
  <div class = "col-12 col-md-8">
    <h3>Current facilities</h3>
    <% @current_facilities.each do |facility| %>
      <span class = "badge badge-info"><%= facility.full_facility %></span>
    <% end %>
    <br />
    <%= simple_form_for @room_facility, url: admin_room_room_facilities_path do |f| %>
      <div class="form-inputs">
        <%= f.input :facility_id, collection: Facility.all, label_method: :full_facility, value_method: :id, include_blank: false  %>
      </div>
      <div class="form-actions">
        <%= f.button :submit, "Add", class: 'btn btn-primary col-12' %>
      </div>
    <% end %>
  </div>
  <div class = "col-12 col-md-4">
    <p>Can't find it in the dropdown?</p><%= link_to "Create a new facility", new_admin_facility_path, class: 'btn btn-secondary' %>
  </div>
</div>
<br />
</div>