<p>Thanks for registering your interest in a Seed Music practice room at <%= @company.humanize %>. <strong>A music room in your office is one step closer</strong><br /><br />

<strong>The next and final step is to share.</strong><br /><br />

We want our practice rooms to have the biggest possible impact, which means installing them in offices where there are the most musicians (aspiring, former or current). <br /><br />

Please spread the word amongst your colleagues, friends and fellow musicians! The link is <%= link_to "here", yes_url %>, and there's a suggested email to send round, below.<br /><br />

We're excited to see the other musicians that you know. Be sure to check back to <%= link_to "see how your company is doing", leaderboard_url %>.<br /><br />

Very best wishes,<br />
Seed Music

<br /><br /><br />
<strong>----- Suggested email -----</strong><br />

Hi all,<br /><br />

Seed Music is converting under-utilised office space into fantastic music practice rooms.<br /><br />

Wouldn't it be great if <%= @company %> got involved and became more musical?<br /><br />

To make sure the rooms have the biggest impact, Seed Music are creating a ranking the most musical offices. Those at the top of the leaderboard have the highest chance of getting. I think <%= @company %> should be up there.<br /><br />

So please vote for <%= @company %>, <%= link_to "here", yes_url %>. All it takes is your work email.<br /><br />

Best wishes,<br /></p>