<p>Hi there,<br /><br />

Thanks for registering your interest in a Seed Music practice room at <%= @company.humanize %>.<br /><br />

We need your help to find the most musical offices, where Seed Music's facilities will have the biggest impact. If you think <%= @company %> should be one of them, please do share <strong>www.seedmusic.co.uk/yes</strong> with your colleagues. Signing up is a good start, but the biggest effect comes from sharing.<br /><br />

Below is a suggested email to send round to your colleagues. Please do write a personal one if you have time!<br /><br />

Very best wishes,<br />
Seed Music

<br /><br /><br />
<strong>----- Suggested email -----</strong><br />

Hi all,<br /><br />

Wouldn't it be great if people at <%= @company %> could play music?<br /><br />

Seed Music are trying to find the most musical offices, where their soundproofed, fully-equipped music practice rooms would have the biggest impact. I think <%= @company %> should be up there!<br /><br />

The more people that vote for our office, the more likely we are to get one. You can register your interest with just your work email, <%= link_to "here", yes_url %>.<br /><br />

Best wishes,<br /></p>