<h1 class = "ml-3">Search for a booking</h1>
<div class = "row hero">
  <div class = "col-10 offset-1 text-center my-10">
      <%= form_tag(new_booking_path, method: :get) do %>
        <%= text_field_tag :start_date, @prepopulated_search.strftime("%d-%m-%Y"), class: "date col-10 col-md-5 mx-1 my-1 d-inline", "data-provide" => 'datepicker', "data-date-format" => "dd/mm/yyyy", "data-date-autoclose" => "true", "data-date-start-date" => Date.today %>
        <%= select_time @prepopulated_search, {time_separator: ':', minute_step: 15}, class: "time col-5 col-md-2 mx-1 my-1 d-inline" %>
        <%= submit_tag "Search", class: "btn btn-primary col-6 col-md-2 form-button d-inline my-1 mx-1" %>
      <% end %>
  </div>
</div>

<div class = "clear"></div>
<h1 class = "ml-3">Your bookings</h1>
<div class = "container">
  <div class = "row">
    <% @bookings.each do |booking| %>
      <div class="col-12 col-sm-6">
        <div class="card">
          <div class="card-block">
            <h3 class="card-title mt-1"><%= booking.start_time.strftime("%a, %e %b %Y") %></h3>
            <p class = "card-text"><i class="fa fa-clock-o" aria-hidden="true"></i> <%= "#{booking.start_time.strftime("%H:%M")} - #{booking.end_time.strftime("%H:%M")}" %></p>
            <p class="card-text"><i class="fa fa-map-marker" aria-hidden="true"></i> &nbsp<%= booking.room.name %></p>
            <p class = "card-text"><i class="fa fa-users" aria-hidden="true"></i> <%= booking.user_list %></p>
            <%= link_to 'View booking', booking_path(booking), class: "btn btn-primary" %>
          </div>
        </div>
        <br />
      </div>
    <% end %>
  </div>
</div>