<div class = "hero pt-10">
  <div class = "container">
    <div class = "row">
      <div class = "col-12 col-md-6 text-right">
        <h1 class = "text-white mega-title">Book a music room</h1>
      </div>
      <div class = "col-12 col-md-6">
        <div class = "row">
          <%= form_tag(new_booking_path, method: :get, class: "col-12 col-md-6 frosty pb-2") do %>
            <h3 class = "mb-1 mt-0"><span class = "badge">Date</span></h3>
            <%= text_field_tag :start_date, @prepopulated_search.strftime("%d-%m-%Y"),  class: "date col-12 d-inline", "data-provide" => 'datepicker', "data-date-format" => "dd/mm/yyyy", "data-date-autoclose" => "true", "data-date-start-date" => Date.today, "data-date-min-date" => Date.today %>
            <h3 class = "mb-1 mt-2"><span class = "badge">Time</span></h3>
            <%= select_time @prepopulated_search, {:time_separator => ":", :minute_step => 15}, class: "time col-3 pr-0 pl-0 mx-0 d-inline" %>
            <%= submit_tag "Search", class: "btn btn-primary col form-button d-inline my-1" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class = "clear"></div>
<div class = "container mt-2">
  <div class = "row">
    <h2>Your upcoming bookings <span class = "badge badge-info"><%= @bookings.length %></span></h2>
    <div class = "col-12">
      <div class = "row">
        <% if @bookings.length > 0 %>
          <% @bookings.each do |booking| %>
            <div class="col-12 col-sm-6 col-md-4">
              <div class="booyah-box">
                <div class = "row">
                  <div class = "col-12">
                    <h3 class="mt-1 ml-2"><%= booking.start_time.strftime("%a, %e %b %Y") %></h3><div class = "clear"></div>
                  </div>
                  <div class = "col-2 text-center">
                    <i class="fa fa-clock-o ml-2" aria-hidden="true"></i>
                  </div>
                  <div class = "col-10">
                    <%= "#{booking.start_time.strftime("%H:%M")} - #{booking.end_time.strftime("%H:%M")}" %>
                  </div>
                  <div class = "col-2 text-center">
                    <i class="fa fa-map-marker ml-2" aria-hidden="true"></i>
                  </div>
                  <div class = "col-10">
                    <%= booking.room.name %>
                  </div>
                  <div class = "col-2 text-center">
                    <i class="fa fa-users ml-2" aria-hidden="true"></i>
                  </div>
                  <div class = "col-10">
                    <%= booking.user_list %>
                  </div>
                    <%= link_to 'View booking', booking_path(booking), class: "btn btn-pink col-10 offset-1 my-2" %>
                </div>
              </div>
              <br />
            </div>
          <% end %>
        <% else %>
          <div class = "col-12 text-center">
            <h5>You have no upcoming bookings :(</h5>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class = "clear"></div>
<div class = "background-white pt-2">
  <div class = "container my-0">
    <div class = "row my-0">
      <h2><%= "Other #{@genre.name} musicians" %></h2>
    </div>
  </div>
  <% if @relevant_users.length > 0 %>
    <div class = "container">
      <div class = "row">
        <% @relevant_users.each do |user| %>
          <div class = "col-sm-6 col-md-4 mb-5">
            <%= link_to user_path(user) do %>
              <div class = "top-half-booyah-box text-center">
                <% if user.avatar.present? %>
                  <%= image_tag(user.avatar, class: "user-image-circle my-3") %>
                <% else %>
                  <%= image_tag('placeholder-user-profile.png', class: "user-image-circle my-3") %>
                <% end %>
                <h3 class = "mt-2 mb-4"><%= user.fullname %></h3>
              </div>
            <% end %>
            <div class = "bottom-half-booyah-box">
              <div class = "row">
                <div class = "col-12">
                  <h4 class = "ml-3 mb-1">Instruments:</h4>
                  <div class = "col-11 offset-1">
                    <% user.unique_instruments.each do |instrument| %>
                      <span class = "badge badge-default"><%= instrument %></span>
                    <% end %>
                  </div>
                </div>  
              </div>
              <div class = "row">
                <div class = "col-12">
                  <h4 class = "ml-3 mb-1">Genres:</h4>
                  <div class = "col-11 offset-1 mb-2">
                    <% user.unique_genres.each do |genre| %>
                      <span class = "badge badge-default"><%= genre %></span>
                    <% end %>
                  </div>
                </div>  
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>