<%= form_tag(new_booking_path, method: :get) do %>
  <%= text_field_tag :start_date, @searched_start_time.strftime("%d-%m-%Y"), "data-provide" => 'datepicker', "data-date-format" => "dd/mm/yyyy", "data-date-autoclose" => "true", "data-date-start-date" => Date.today %>
  <%= select_time @searched_start_time, minute_step: 15 %>
  <%= submit_tag "Search", class: "btn btn-primary" %>
<% end %>


<div class = "row">
  <div class = "col-12 col-md-8">
    <div class = "first-section">
      <h3>Room timeslots</h3>
      <% @room_timeslots.group_by(&:room).each do |room, timeslots| %>
        <div class = "col-10 offset-1 col-md-5 mb-5">
          <h4><%= room.name %></h4>
          <ul class = "slot-list">
            <% timeslots.each do |timeslot| %>
              <% if timeslot.booking_id.blank? %>
                <li class = "col-12 my-2 btn btn-primary selectable" data-timestart = <%= "#{timeslot.slot_start.strftime("%H:%M")}" %> data-timeend = <%= "#{timeslot.slot_end.strftime("%H:%M")}" %> data-date = <%= "#{timeslot.slot_start.strftime("%d/%m/%Y")}" %> data-room = <%= "#{timeslot.room.name.tr(" ","_")}" %> id = <%= "#{timeslot.id}" %>><%= "#{timeslot.slot_start.strftime("%H:%M")} - #{timeslot.slot_end.strftime("%H:%M")}" %></li>
              <% else %>
                <span data-toggle="tooltip" data-placement="top" title="Booked by <%= timeslot.booking.user.email %>"><li class = "col-12 my-2 btn btn-primary disabled"><%= "#{timeslot.slot_start.strftime("%H:%M")} - #{timeslot.slot_end.strftime("%H:%M")}" %></li></span>
              <% end %>
            <% end %>
          </ul>
        </div>
      <% end %>
    </div>
    <div class = "second-section">
      <h3>Users</h3>
      <% @users.each do |user| %>
        <div class = "col-md-6">
          <div class = "card">
            <div class = "card-header"><b><%= link_to "#{user.firstname} #{user.surname}", user_path(user) %></b></div>
            <div class = "card-block">
              <p class = "card-text"><%= user.description %></p>
              <p class = "card-text text-muted">Email: <%= mail_to user.email, user.email %></p>
              <p class = "card-text text-muted">Instruments: <% user.unique_instruments.each do |instrument| %><span class="badge badge-primary text-center"><%= instrument %></span> <% end %></p>
              <p class = "card-text text-muted">Genres: <% user.unique_genres.each do |genre| %><span class="badge badge-primary"><%= genre %></span> <% end %></p>
            </div>
          </div>
        <br />
        </div>
      <% end %>
    </div>
  </div>
  <div class = "col-12 col-md-4">
    <div class = "col-8 offset-2">
      <h4>Your booking</h4>
      <div class="card">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Room: <span class = "bookingroom"></span></li>
          <li class="list-group-item">Date: <span class = "bookingdate"></span></li>
          <li class="list-group-item">Time: <span class="bookingtime"></span></li>
        </ul>
      </div>
      <div class = "btn btn-primary continue">Continue</div>
      <span class = "second-section">
        <div class = "btn btn-secondary continue second-section">Back</div>
        <%= link_to 'Book!', '#', class: "btn btn-primary my-2 col-12 update-test", id: current_user.id %>
      </span>
    </div>
  </div>
</div>

<script>
$(function () {
  //Dealing with all items that are selectable
  $('.selectable').click(function(e) {
    var item = $(e.target);
    
    //We're using nextUntil() and prevUntil() on a clicked start and end points
    //When clicking either end or start, toggle that class
    //If there's not a start present, put a start down
    //Otherwise clear everything that's not the start and put a new end down
    if (item.hasClass("active end")) {
      item.toggleClass("active end");
      $("ul.slot-list").find(".active.middle").removeClass("active middle");
    } else if (item.hasClass("active start")) {
      item.toggleClass("active start");
      $("ul.slot-list").find(".active.middle").removeClass("active middle");
    } else if ($("ul.slot-list").find(".active.start").length === 0) {
      item.toggleClass('active start');
    } else {
      $("ul.slot-list").find(".active.end").removeClass("active end");
      $("ul.slot-list").find(".active.middle").removeClass("active middle");
      item.toggleClass('active end');
    }

    //if the start is after the end, use prevUntil(), filling them all with active middle
    //otherwise use nextUntil()
    if ($("ul.slot-list").find(".active").length > 1) {
      if ($("ul.slot-list").find(".start").prevAll(".end").length > 0) {
        $(".start").prevUntil(".end").addClass("active middle");
      } else {
        $(".start").nextUntil(".end").addClass("active middle");
      }
    }

    //Find all those that are selected and take the data to put in stuff
    var selected = $("ul.slot-list").find(".active");
    var selectedTimeStart = ($(selected[0]).data("timestart"));
    var selectedTimeEnd = ($(selected[selected.length-1]).data("timeend"));
    var selectedRoom = ($(selected[0]).data("room"));
    var selectedDate = ($(selected[0]).data("date"));

    if (selected.length === 0) {
      $( ".bookingroom" ).text(" ");
      $( ".bookingtime" ).text(" ");
      $( ".bookingdate" ).text(" "); 
    } else {
      $( ".bookingroom" ).text(selectedRoom.replace("_", " "));
      $( ".bookingtime" ).text(selectedTimeStart + " - " + selectedTimeEnd);
      $( ".bookingdate" ).text(selectedDate);
    }
  });

  $.fn.extend({
    toggleText: function(a, b){
        return this.text(this.text() == b ? a : b);
    }
  });
  $(function() {
    $(".continue").click(function(){
      $(".continue").toggle();
      $(".first-section").slideToggle();
      $(".second-section").slideToggle();
    });
  });
  //Creates new booking and updates booking id of all selected roomTimeslots
  $('.update-test').click(function() {
    var userId = this.id;
    var selected = $("ul.slot-list").find(".active");
    var selecetdIds = $.map(selected, function(roomTimeSlot) {
      return roomTimeSlot.id
    });

    $.ajax({
      type: "POST",
      beforeSend: function(xhr) {
        xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))
      },
      url: "/bookings", 
      data: {
        room_timeslot_ids: selecetdIds, 
        booking: {
          user_id: userId
        }
      },
      success: function() {
        swal("Booking confirmed!", "We'll show you your booking details now", "success")
      }
    });
  });
});
</script>