<div class = "container">
  <h1 class = "col-12 text-center mt-5 text-mint">Your booking</h1>
  <div class = "row justify-content-center">
    <div class="col-10 col-md-6">
      <div class = "booyah-box px-3">
        <div class = "row">
          <div class = "col-12">
            <h3 class="mt-1 ml-2"><strong><%= @booking.start_time.strftime("%a, %e %b %Y") %></strong></h3><div class = "clear"></div>
          </div>
          <div class = "col-2 text-center">
            <i class="fa fa-clock-o ml-2" aria-hidden="true"></i>
          </div>
          <div class = "col-10">
            <h5><%= "#{@booking.start_time.strftime("%H:%M")} - #{@booking.end_time.strftime("%H:%M")}" %></h5>
          </div>
          <div class = "col-2 text-center">
            <i class="fa fa-map-marker ml-2" aria-hidden="true"></i>
          </div>
          <div class = "col-10">
            <h5><%= link_to @booking.room.name, room_path(@booking.room) %></h5>
          </div>
          <div class = "col-2 text-center">
            <i class="fa fa-users ml-2" aria-hidden="true"></i>
          </div>
          <div class = "col-10">
            <h5><%= @booking.user_list %></h5>
            <% if @booking.users.any? {|user| user == current_user} %>
              <%= link_to "Edit users", edit_booking_path(@booking), class: "btn btn-secondary" %>
            <% end %>
          </div>
          <div class = "col-12">
            <hr />
          </div>
        </div>
        <% if @booking.users.any? {|user| user == current_user} %>
          <div class = "row mx-3">
            <%= link_to booking_path({:format => :ics }.merge(params)), :class => "btn btn-primary col-12 mb-2" do %>
              <i class="fa fa-calendar-plus-o" aria-hidden="true"></i>&nbsp Add to calendar
            <% end %>
            <%= link_to booking_path(@booking), class: "col-12 mb-2 btn btn-danger", method: :delete, data: {confirm: 'Are you sure? This will delete the booking for everyone!'} do %>
              <i class="fa fa-trash" aria-hidden="true"></i>&nbsp Delete
            <% end %>
          </div>
        <% end %>
      </div>
      <br />
    </div>
  </div>
</div>