<div class = "row">
  <div class = "col-10 offset-1">
    <h1 class = "ml-3">Users</h1>
    <%= form_tag(users_path, method: :get ) do %>
      <%= text_field_tag :name, params[:name], class: "col-4" %>
      <%= select_tag :instrument_id, options_from_collection_for_select(Instrument.all, :id, :name, params[:instrument_id]), multiple: true, class: "multiselect col-3" %>
      <%= select_tag :genre_id, options_from_collection_for_select(Genre.all, :id, :name, params[:genre_id]), multiple: true, :class => "multiselect col-3" %>
      <%= submit_tag "Search", class: "btn btn-primary col-2" %>
    <% end %>
  </div>
</div>

<div class = "container-fluid">
  <div class = "booyah-box col-10 offset-1">
      <br />
    <div class = "row">
      <% @users.each do |user| %>
      <div class = "col-md-6">
        <div class = "card">
          <div class = "card-header"><b><%= link_to "#{user.firstname} #{user.surname}", user_path(user) %></b></div>
          <div class = "card-block">
            <p class = "card-text"><%= user.description %></p>
            <p class = "card-text text-muted">Email: <%= mail_to user.email, user.email %></p>
            <p class = "card-text text-muted">Instruments: <% user.unique_instruments.each do |instrument| %><span class="badge badge-primary text-center"><%= instrument %></span> <% end %></p>
            <p class = "card-text text-muted">Genres: <% user.unique_genres.each do |genre| %><span class="badge badge-primary"><%= genre %></span> <% end %></p>
          </div>
        </div>
      <br />
      </div>
      <% end %>
    </div>
    <br />
  </div>
</div>

<script type="text/javascript">
    $(document).ready(function() {
        $('.multiselect').multiselect();
    });
</script>