<div class = "room-user-hero">
  <div class = box-transparent>
    <div class = "container">
      <div class = "row">
        <div class = "col-12 col-md-6">
          <h1 class = "text-mint">Find other musicians!</h1>
          <h5 class = "text-purple"><strong>Search or filter</strong> by instrument and genre</h5>
        </div>
      </div>
    </div>
    <div class = "container">
      <div class="btn btn-secondary col-10 offset-1 toggle-search mt-2"><i class="fa fa-filter" aria-hidden="true"></i> Filter</div>
      <div class = "search-and-filter show-hide">
        <div class = "row mb-2">
          <%= form_tag(users_path, method: :get, class: "col-12" ) do %>
            <%= text_field_tag :name, params[:name], placeholder: "Search users by name", class: "col-12 col-md-4 mt-2 mx-0" %>
            <div class = "col-6 col-md-3 my-2 mx-0">
              <%= select_tag :instrument_id, options_from_collection_for_select(Instrument.all, :id, :name, params[:instrument_id]), multiple: true, class: "multiselect" %>
            </div>
            <div class = "col-6 col-md-3 my-2 mx-0">
            <%= select_tag :genre_id, options_from_collection_for_select(Genre.all, :id, :name, params[:genre_id]), multiple: true, :class => "multiselect" %>
            </div>
            <%= submit_tag "Search", class: "btn btn-primary col-12 col-md-2 mt-2" %>
          <% end %>
        </div>
      </div>
      <div class = "col-12">
        <hr class = "mt-2 mb-4">
      </div>
    </div>
  </div>
  <div class = "container">
    <div class = "row">
      <% @users.each do |user| %>
        <div class = "col-md-6 mb-5">
          <div class = "booyah-box col-10 offset-1 px-0">
            <%= link_to user_path(user) do %>
              <div class = "top-half-booyah-box mx-0 text-center">
                <% if user.avatar.present? %>
                  <%= image_tag(user.avatar, class: "user-image-circle my-3") %>
                <% else %>
                  <%= image_tag('placeholder-user-profile.png', class: "user-image-circle my-3") %>
                <% end %>
                <h3 class = "mt-0"><%= user.fullname %></h3>
              </div>
            <% end %>
            <div class = "row">
              <div class = "col-12">
                <h4 class = "ml-3 mb-1">Instruments:</h4>
                <div class = "col-11 offset-1">
                  <% user.unique_instruments.each do |instrument| %>
                    <span class = "badge badge-default"><%= instrument %></span>
                  <% end %>
                </div>
              </div>  
            </div>
            <div class = "row">
              <div class = "col-12">
                <h4 class = "ml-3 mb-1">Genres:</h4>
                <div class = "col-11 offset-1">
                  <% user.unique_genres.each do |genre| %>
                    <span class = "badge badge-default"><%= genre %></span>
                  <% end %>
                </div>
              </div>  
            </div>
            <div class = "row">
              <div class = "col-12">
                <hr class = "my-2">
              </div>
            </div>
            <div class = "row">
              <div class = "col-12">
                <% user_recent_bookings = [] %>
                <% @recent_bookings.each do |booking| %>
                  <% if booking.users.any?{|booking_user| booking_user.id == user.id } %>
                    <% user_recent_bookings << booking %>
                  <% end %>
                <% end %>
                <p class = "green-text ml-3"><i class="fa fa-calendar" aria-hidden="true"></i><strong> <%= user_recent_bookings.length %></strong> bookings in past 6 months</p>
              </div>
            </div>
          </div>
        </div>
        <br />
      <% end %>
    </div>
  </div>
</div>
<script type="text/javascript">
  $(function() {
    $('.multiselect').multiselect();

    $('.toggle-search').click(function(){
      $('.search-and-filter').slideToggle();
    });
  });
</script>