<div class = "container">
  <div class = "row">
    <div class = "booyah-box col-12 px-0 text-center mb-4">
      <div class = "top-half-booyah-box col-12 mx-0">
        <% if @user.avatar.present? %>
          <%= image_tag(@user.avatar, class: "user-image-circle mt-5 mb-1") %>
        <% else %>
          <%= image_tag('placeholder-user-profile.png', class: "user-image-circle mt-5 mb-1") %>
        <% end %>
        <h1 class = "mt-2"><%= @user.fullname %></h1>
        <%= mail_to @user.email do %>
          <div class = "btn btn-secondary mb-3"><i class="fa fa-envelope-o" aria-hidden="true"></i> Email <%= @user.firstname %></div>
        <% end %> 
      </div>
      <div class = "col-12 col-md-6 mb-2">
        <div class = "col-10 offset-1 booyah-box my-4 text-left px-0">
          <h3 class = "text-center mt-3 ml-0"><%= @user.firstname %>'s Music</h3>
          <% if @user.description.present? %>
            <div class = "col-12">
              <h4 class = "ml-0 mb-1">Description:</h4>
              <div class = "col-11 offset-1 px-0">
                <p><%= @user.description %></p>
              </div>
            </div> 
          <% end %>
          <div class = "col-12">
              <h4 class = "ml-0 mb-1">Instruments:</h4>
              <div class = "col-11 offset-1 px-0">
                <% @user.unique_instruments.each do |instrument| %>
                  <span class = "badge badge-default"><%= instrument %></span>
                <% end %>
              </div> 
          </div>
          <div class = "col-12">
              <h4 class = "ml-0 mb-1">Genres:</h4>
              <div class = "col-11 offset-1 px-0">
                <% @user.unique_genres.each do |genre| %>
                  <span class = "badge badge-default"><%= genre %></span>
                <% end %>
              </div>
              <br class = "my-1"/>
          </div>
        </div>
      </div>
      <div class = "col-12 col-md-6 mb-2">
        <div class = "col-10 offset-1 booyah-box my-4 text-left px-0">
          <h3 class = "text-center mt-3 ml-0"><%= @user.firstname %>'s Activity</h3>
        </div>
      </div>
    </div>
  </div>
</div>