<h1 class = "ml-3 float-left"><%= @user.firstname %> <%= @user.surname %></h1>
<% if @user == current_user %>
  <%= link_to "Edit profile", '#', class: "btn btn-secondary float-right mr-3" %>
<% else %>
  <%= mail_to @user.email, "Email #{@user.firstname}", class: "btn btn-primary float-right mr-3" %>
<% end %>
<div class = "clear"></div>
<div class = "container-fluid">
  <div class = "booyah-box col-10 offset-1">
    <br />
    <div class = "row">
    <div class = "col-md-6">
        <div class = "card card-1">
          <div class = "card-header">
            Description
          </div>
          <div class = "card-block">
            <p class = "card-text"><%= @user.description %></p>
            <p class = "card-text text-muted">Email: <%= mail_to @user.email, @user.email %></p>
          </div>
        </div>
        <br />
      </div>
    <div class = "col-md-6">
    <table class = "table table-hover">
      <thead>
        <tr>
          <th>Instrument</th>
          <th>Genre</th>
        </tr>
      </thead>
      <tbody>
      <% @user.user_instruments.each do |user_instrument| %>
        <tr>
          <td><%= user_instrument.instrument.name %></td>
          <td><%= user_instrument.genre.name %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
    </div>
      </div>
    </div>
  </div>
</div>