<h1 class = "ml-3">New room</h1>
<div class = "booyah-box col-10 offset-1 pt-3">
  <%= simple_form_for @room, url: room_path do |f| %>
    <div class="form-inputs">
      <%= f.input :name, hint: "Must be unique" %>
      <%= f.input :address %>
      <%= f.input :capacity, collection: 1..20 %>
      <%= f.input :photo %>
    </div>

    <h3>Facilities</h3>
    <ul>
      <% @room.facilities.each do |facility| %>
        <li><%= facility.full_facility %></li>
      <% end %>
    </ul>
    <%= link_to 'Add a facility', new_room_room_facility_path(current_room), class: "btn btn-primary my-3" %>
    <div class="form-actions">
      <%= f.button :submit, "Update", class: 'btn btn-primary col-12' %>
    </div>
  <% end %>
  <br />
</div>