<h1 class = "ml-3">New room</h1>
<div class = "booyah-box col-10 offset-1 pt-3">

<%= simple_form_for @room, url: rooms_path do |f| %>
  <div class="form-inputs">
    <%= f.input :name, hint: "Must be unique" %>
    <%= f.input :address %>
    <%= f.input :capacity, collection: 1..20 %>
  </div>
  <div class="form-actions">
    <%= f.button :submit, "Create", class: 'btn btn-primary col-12' %>
  </div>
<% end %>
<br />
</div>