<div class = "container my-3">
  <% if current_user.admin %>
    <h3>Admin options</h3>
    <div class = "row">
      <%= link_to "Edit room", edit_admin_room_path(@room), class: "btn btn-primary col-md-6" %>
      <%= link_to "Add a facility", new_admin_room_room_facility_path(@room), class: "btn btn-pink col-md-6" %>
    </div>
  <% end %>    

  <div class = "row top-half-booyah-box">
    <div class = "col-12 px-0 text-center mb-4">
      <% if @room.photo.present? %>
        <%= image_tag(@room.photo, class: "user-image-circle mt-5 mb-1") %>
      <% else %>
        <%= image_tag('instruments_placeholder.jpg', class: "user-image-circle mt-5 mb-1") %>
      <% end %>
      <h1 class = "mt-2"><%= @room.name %></h1>
    </div>
  </div>
  <div class = "row bottom-half-booyah-box py-3 mb-3">
    <div class = "col-md-6 mb-3">
      <div class = "col-12 booyah-box pb-2">
        <h3 class = "mt-3 mb-2"><i class="fa fa-music" aria-hidden="true"></i> Facilities</h3>
        <div class = "col-12">
          <hr class = "mt-0 mb-3">
        </div>
        <p><i class="fa fa-users" aria-hidden="true"></i> Capacity: <%= @room.capacity %></p>
        <% @room.facilities.each do |facility| %>
          <span class = "badge badge-info"><%= facility.full_facility %></span>
        <% end %>
      </div>
    </div>
    <div class = "col-md-6">
      <div class = "col-12 booyah-box">
        <h3 class = "mt-3 mb-2"><i class="fa fa-info-circle" aria-hidden="true"></i> Information</h3>
        <div class = "col-12">
          <hr class = "mt-0 mb-3">
        </div>
        <p>Location: <%= @room.address %></p>
      </div>
    </div>
    <div class = "col-12">
      <h3><%= "You have #{@bookings.length} upcoming bookings here"%></h3>
    </div>
    <% if @bookings.length > 0 %>
      <% @bookings.each do |booking| %>
          <div class="col-12 col-sm-6 col-md-4">
            <div class="booyah-box">
              <div class = "row">
                <div class = "col-12">
                  <h3 class="mt-1 ml-2"><%= booking.start_time.strftime("%a, %e %b %Y") %></h3><div class = "clear"></div>
                </div>
                <div class = "col-2 text-center">
                  <i class="fa fa-clock-o ml-2" aria-hidden="true"></i>
                </div>
                <div class = "col-10">
                  <%= "#{booking.start_time.strftime("%H:%M")} - #{booking.end_time.strftime("%H:%M")}" %>
                </div>
                <div class = "col-2 text-center">
                  <i class="fa fa-map-marker ml-2" aria-hidden="true"></i>
                </div>
                <div class = "col-10">
                  <%= booking.room.name %>
                </div>
                <div class = "col-2 text-center">
                  <i class="fa fa-users ml-2" aria-hidden="true"></i>
                </div>
                <div class = "col-10">
                  <%= booking.user_list %>
                </div>
                  <%= link_to 'View booking', booking_path(booking), class: "btn btn-pink col-10 offset-1 my-2" %>
              </div>
            </div>
            <br />
          </div>
        <% end %>
    <% else %>
      <div class = "col-12">
        <div class="alert alert-warning col-10 offset-1" role="alert">
          <strong>Oh no!</strong> You have no upcoming bookings in this room :(
        </div>
      </div>
    <% end %>
    <br />
    <!-- Large modal -->
    <div class = "col-12">
      <button class="btn btn-primary col-10 offset-1" data-toggle="modal" data-target=".bd-example-modal-lg">Report any problems with this room</button>
    </div>
  </div>
</div>

<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
   <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Tell us something</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
        <%= simple_form_for @room_comment, url: room_room_comments_path(@room) do |f| %>
      <div class="modal-body">
          <%= f.input :category, collection: RoomComment::CATEGORIES %>
          <%= f.input :message %>
          
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <%= f.submit "Send message", class: 'btn btn-primary' %>
        <% end %>
      </div>
    </div>
  </div>
</div>



