<h1 class = "ml-3"><%= @room.name %></h1>
<div class = "clear"></div>
<div class = "container-fluid">
  <div class = "booyah-box col-10 offset-1">
      <br />
    <div class = "row">
      <div class = "col-md-6">
        <div class = "card">
          <div class = "card-header">
            <h4>Facilities</h4>
          </div>
          <div class = "card-block">
            <p>Capacity: <%= @room.capacity %></p>
          </div>
        </div>
      </div>
      <br />
      <div class = "col-md-6">
        <div class = "card">
          <div class = "card-header">
            <h4>Location</h4>
          </div>
          <div class = "card-block">
            <p>Address: <%= @room.address %></p>
          </div>
        </div>
      </div>
    </div>
    <br />
    <!-- Large modal -->
    <button class="btn btn-primary col-10 offset-1" data-toggle="modal" data-target=".bd-example-modal-lg">Tell us about this room</button>
    <div class = "clear"></div>
    <br />
  </div>
</div>

<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
   <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Tell us something</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
        <%= simple_form_for @room_comment, url: room_room_comments_path(@room) do |f| %>
      <div class="modal-body">
          <%= f.input :category, collection: RoomComment::CATEGORIES %>
          <%= f.input :message %>
          
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <%= f.submit "Send message", class: 'btn btn-primary' %>
        <% end %>
      </div>
    </div>
  </div>
</div>



