<div class = "container">
  <div class = "row">
    <% if current_user == @post.user %>
      <div class = "col-12 my-2">
        <div class = "float-right margin-top-10 col-12 col-lg-3 text-align-right">
            <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#EditPostModal">
              <i class="fa fa-pencil" aria-hidden="true"></i> Edit
            </button>
            <%= link_to post_path(@post), class: 'btn btn-danger', method: :delete, data: {confirm: 'Are you sure?'} do %>
              <i class="fa fa-trash" aria-hidden="true"></i> Delete
            <% end %>
        </div>
      </div>
    <% end %>
    <div class = "col-12 col-md-8 offset-md-2">
      <div class = "top-half-booyah-box-secondary col-12">
        <div class = "row">
            <div class = "col-4 col-md-2">
              <% if @post.user.avatar.present? %>
                <%= image_tag(@post.user.avatar, class: "user-image-circle-small my-1") %>
              <% else %>
                <%= image_tag('placeholder-user-profile.png', class: "user-image-circle-small my-1") %>
              <% end %>
            </div>
            <div class = "col-8 col-md-10 mt-auto">
              <h5><%= @post.title %></h5>
              <p>by <%= link_to @post.user.fullname, user_path(@post.user) %></p> 
            </div>
        </div>
      </div>
      <div class = "bottom-half-booyah-box col-12 background-white">
        <div class = "text-center pt-3 px-1">
          <p>"<%= @post.message %>"</p>
        </div>
        <hr class = "mt-0 mb-1"/>
        <h6 class = "underline d-inline">Replies</h6> <span class = "badge badge-info"><%= @post.post_replies.length %></span>
        <% if @post.post_replies.length > 0 %>
          <div class = "row">
            <% @post.post_replies.each do |reply| %>
              <div class = "col-2 col-md-1 text-right">
                <% if reply.user.avatar.present? %>
                  <%= image_tag(reply.user.avatar, class: "user-image-circle-xs my-1") %>
                <% else %>
                  <%= image_tag('placeholder-user-profile.png', class: "user-image-circle-xs my-1") %>
                <% end %>
              </div>
              <div class = "col-10 col-md-11">
                <p class = "my-0"><%= reply.message %></p>
                <small>- <%= link_to reply.user.fullname, user_path(reply.user) %></small>
                <hr />
              </div>
            <% end %>
          </div>
        <% else %>
          <p>No replies yet. Be <strong>the first to respond</strong>, below!</p>
        <% end %>
      </div>
    </div>
    
  </div>
</div>
<div class = "container mt-4 mb-2">
  <div class = "row">
    <div class = "col-12 col-md-8 offset-md-2">
      <h4>Reply to this post</h4>
      <%= simple_form_for @post_reply do |f| %>
        <%= f.input :message %>
        <%= f.input :post_id, as: :hidden, :input_html => { :value => @post.id } %>
        <%= f.submit "Reply!", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>

<!-- NewPostModal -->
<div class="modal fade" id="EditPostModal" tabindex="-1" role="dialog" aria-labelledby="EditPostModal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="EditPostModal">Edit post</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <%= simple_form_for @post, url: post_path(@post) do |f| %>
        <div class="modal-body">
          <%= f.input :category, collection: Post::CATEGORIES %>
          <%= f.input :title %>
          <%= f.input :message %>
          <%= f.input :live %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <%= f.submit class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>