<h1>Create available bookings</h1>

<%= simple_form_for @room_timeslot do |f| %>
  <%= f.input :slot_start, as: :date %>
  <%= f.input :slot_end, as: :date%>
  <%= f.input :room_id, collection: Room.all %>
  <%= f.submit "Make", class: "btn btn-primary" %>
<% end %>