<!DOCTYPE html>
<html>
  <head>
    <title>SeedMusicFirst</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.13.0/jquery.validate.min.js"></script>
  </head>

  <body id = "background-grey">
    <div id="flex-content-container">
      <nav class="navbar navbar-toggleable-sm navbar-light bg-faded mb-0">
        <button class="navbar-toggler navbar-toggler-right mt-3" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon mt-0"></span>
        </button>
        <%= link_to root_path, class: 'navbar-brand' do %>
          Seed Music
        <% end %>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
          <ul class="navbar-nav mr-auto mt-2 mt-sm-0">
            <% if user_signed_in? %>
              <li class="nav-item">
                <%= link_to rooms_path, class: 'nav-link mx-1' do %>
                  <i class="fa fa-map-marker" aria-hidden="true"></i> Rooms
                <% end %>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="CommunityDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="fa fa-users" aria-hidden="true"></i> Community
                </a>
                <div class="dropdown-menu" aria-labelledby="CommunityDropdownMenuLink">
                  <%= link_to users_path, class: "dropdown-item" do %>
                    <i class="fa fa-user-circle" aria-hidden="true"></i> People
                  <% end %>
                  <%= link_to posts_path, class: "dropdown-item" do %>
                    <i class="fa fa-comments" aria-hidden="true"></i> Forum
                  <% end %>
                </div>
              </li>
            <% end %>
          </ul>
          <ul class="navbar-nav float-right">
            <% if user_signed_in? %>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="ProfileDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="fa fa-smile-o" aria-hidden="true"></i> &nbsp<%= current_user.firstname %>
                </a>
                <div class="dropdown-menu" aria-labelledby="ProfileDropdownMenuLink">
                  <%= link_to user_path(current_user), class: "dropdown-item" do %>
                    <i class="fa fa-user" aria-hidden="true"></i> Profile
                  <% end %>
                  <a class="dropdown-item" href="#">Another action</a>
                  <%= link_to destroy_user_session_path, method: :delete, class: "dropdown-item" do %>
                    <i class="fa fa-sign-out" aria-hidden="true"></i> Sign out
                  <% end %>
                </div>
              </li>
            <% else %>
              <li class="nav-item">
                <%= link_to 'Sign in', new_user_session_path, class: 'nav-link' %>
              </li>
              <li class="nav-item">
                <%= link_to 'Sign up', new_user_registration_path, class: 'nav-link' %>
              </li>
            <% end %>
          </ul>
        </div>
      </nav>
      <% if notice.present? %>
        <p class="alert alert-info alert-autodismiss col-10 offset-1"><%= notice %></p>
      <% end %>
      <% if alert.present? %>
        <p class="alert alert-danger alert-autodismiss col-10 offset-1"><%= alert %></p>
      <% end %>
      <%= yield %>
    </div>
    <div id="footer">
      <div class="container">
        <b>Useful links</b>
        <br />
        <%= link_to 'Admin dashboard', admin_dashboard_path %>
        <br />
        <%= link_to 'Give feedback', new_feedback_path %>
      </div>
    </div>
  </body>
</html>

<script>
  window.setTimeout(function() {
    $(".alert-autodismiss").fadeTo(500, 0).slideUp(600, function(){
        $(this).remove(); 
    });
  }, 1000);
</script>